<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="3600">
	<Properties>
		<Property name="APP_NAME">${bundle:application:service.name}</Property>
		<Property name="LOG_HOME">/var/log/${APP_NAME}/${bundle:application:service.version}</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{32} - %msg%n"/>
		</Console>
		<RollingFile name="ROLLING_FILE" fileName="${LOG_HOME}/${APP_NAME}.log" filePattern="${LOG_HOME}/archived/${APP_NAME}.%d{yyyy-MM-dd}.%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{32} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="3 MB"/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="ROLLING_FILE"/>
			<AppenderRef ref="STDOUT"/>
		</Root>
		<Logger level="debug" name="idv.felix"/>
	</Loggers>
</Configuration>
